//Variables
$primary-color: #ffffff;
$secondary-color: #191919;
$salmon: #f54748;
$yellow: #fdc55e;
$padding: 12px 25px;
// Text

// Title
$title-size: 48px;
$title-weight: 900;

// Paragraph
$paragraph-size: 20px;
$paragraph-weight: 400;

body {
  font-family: "Sofia Pro", sans-serif;
  background: $secondary-color;
}